[submodule "layers/3pp/poky"]
	path = layers/3pp/poky
	url = git://git.yoctoproject.org/poky
	branch = jethro
[submodule "layers/3pp/meta-openembedded"]
	path = layers/3pp/meta-openembedded
	url = git://github.com/openembedded/meta-openembedded.git
	branch = jethro
[submodule "layers/3pp/meta-odroid"]
	path = layers/3pp/meta-odroid
	url = git://github.com/akuster/meta-odroid.git
	branch = master
[submodule "layers/3pp/meta-raspberrypi"]
	path = layers/3pp/meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = jethro
[submodule "layers/3pp/meta-qt5"]
	path = layers/3pp/meta-qt5
	url = git://github.com/meta-qt5/meta-qt5.git
	branch = jethro
[submodule "layers/3pp/meta-fsl-arm"]
	path = layers/3pp/meta-fsl-arm
	url = git://git.yoctoproject.org/meta-fsl-arm
	branch = jethro
[submodule "layers/3pp/meta-erlang"]
	path = layers/3pp/meta-erlang
	url = git://github.com/joaohf/meta-erlang.git
	branch = jethro
[submodule "layers/3pp/meta-qt5-extra"]
	path = layers/3pp/meta-qt5-extra
	url = git://github.com/schnitzeltony/meta-qt5-extra.git
	branch = jethro
[submodule "layers/3pp/meta-ros"]
	path = layers/3pp/meta-ros
	url = git://github.com/bmwcarit/meta-ros.git
	branch = master
[submodule "layers/3pp/meta-xilinx"]
	path = layers/3pp/meta-xilinx
	url = git://github.com/Xilinx/meta-xilinx.git
	branch = jethro
